#container{
  border: 2px solid rgb(68, 67, 67);
  border-radius: 9px;
  width: 35%;
  height: 123vh;
  background-color: rgb(87, 43, 14);
    /* display: grid;
    justify-content: center;
    align-items: center; */
    margin: auto;
    position: relative;
  }
  .img{
    height: 44vh;
    width: 90%;
    border-radius: 9px;
    position: absolute;
    left: 21px;
    top: 10px;
  }
  #aud{
    position: absolute;
    top: 310px;
    left: 20px;
    width: 90%;
  }
  #song{
    color: white;
    position: absolute;
    top: 400px;
    left: 12px;
    width: 95%;
    text-align: justify;
  }